Repository ROCm/rdc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dmitrii-galantsev, @bill-shuzhou-liu, @ROCm/rocm-documentation

.github/CODEOWNERS:

* @dmitrii-galantsev @bill-shuzhou-liu

docs/* @ROCm/rocm-documentation
*.md @ROCm/rocm-documentation
*.rst @ROCm/rocm-documentation

Fix for SWDEV-500637
  rdc_libs/rdc/src/RdcCacheManagerImpl.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update rocm_ci_caller.yml: base ref to support pull and push request
  .github/workflows/rocm_ci_caller.yml
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Resolve CI caller merge conflicts
  .github/workflows/rocm_ci_caller.yml
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update documentation requirements
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Profiler - Migrate from rocprofv1 to rocprofv3
  .github/workflows/main.yml
  include/rdc_modules/rdc_rocp/RdcRocpBase.h
  include/rdc_modules/rdc_rocp/RdcRocpCounterSampler.h
  python_binding/RdcReader.py
  python_binding/rdc_collectd.py
  python_binding/rdc_prometheus.py
  rdc_libs/rdc/src/RdcRocpLib.cc
  rdc_libs/rdc_modules/rdc_rocp/CMakeLists.txt
  rdc_libs/rdc_modules/rdc_rocp/RdcRocpBase.cc
  rdc_libs/rdc_modules/rdc_rocp/RdcRocpCounterSampler.cc
  rdc_libs/rdc_modules/rdc_rocp/RdcTelemetryLib.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Implementation for SWDEV-479728:[RDC] - Clock Speed/Power Cap Control
  example/CMakeLists.txt
  example/config_example.cc
  include/rdc/rdc.h
  include/rdc_lib/RdcConfigSettings.h
  include/rdc_lib/RdcHandler.h
  include/rdc_lib/impl/RdcConfigSettingsImpl.h
  include/rdc_lib/impl/RdcEmbeddedHandler.h
  include/rdc_lib/impl/RdcStandaloneHandler.h
  protos/rdc.proto
  rdc_libs/bootstrap/src/RdcBootStrap.cc
  rdc_libs/rdc/CMakeLists.txt
  rdc_libs/rdc/src/RdcConfigSettingsImpl.cc
  rdc_libs/rdc/src/RdcEmbeddedHandler.cc
  rdc_libs/rdc_client/src/RdcStandaloneHandler.cc
  rdci/CMakeLists.txt
  rdci/include/RdciConfigSubSystem.h
  rdci/src/RdciConfigSubSystem.cc
  rdci/src/rdci.cc
  server/include/rdc/rdc_api_service.h
  server/src/rdc_api_service.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Add RDC_FI_PROF_SM_ACTIVE metric.
  common/rdc_field.data
  example/rocprofiler_example.cc
  include/rdc/rdc.h
  python_binding/rdc_bootstrap.py
  rdc_libs/rdc_modules/rdc_rocp/RdcRocpBase.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Enable RDC link Status feature 1.add link status APIs 2.Add link status example for link status API usage
  example/CMakeLists.txt
  example/topologylink_example.cc
  include/rdc/rdc.h
  include/rdc_lib/impl/RdcEmbeddedHandler.h
  protos/rdc.proto
  rdc_libs/rdc/src/RdcTopologyLinkImpl.cc
  rdc_libs/rdc_client/src/RdcStandaloneHandler.cc
  rdci/CMakeLists.txt
  rdci/include/RdciXgmiLinkStatusSubSystem.h
  rdci/src/RdciTopologyLinkSubSystem.cc
  rdci/src/RdciXgmiLinkStatusSubSystem.cc
  rdci/src/rdci.cc
  server/include/rdc/rdc_api_service.h
  server/src/rdc_api_service.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Implementation for adding pcie_total (#40)
  include/rdc/rdc.h
  protos/rdc.proto
  python_binding/rdc_bootstrap.py
  rdc_libs/rdc/src/RdcCacheManagerImpl.cc
  rdc_libs/rdc/src/RdcGroupSettingsImpl.cc
  rdc_libs/rdc_client/src/RdcStandaloneHandler.cc
  rdci/src/RdciStatsSubSystem.cc
  server/src/rdc_api_service.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Add Power and Thermal Throttling Time Metric
  common/rdc_field.data
  include/rdc/rdc.h
  python_binding/rdc_bootstrap.py
  rdc_libs/rdc/src/RdcMetricFetcherImpl.cc
  rdc_libs/rdc/src/RdcSmiLib.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Fix unit issue in policy feature (#78)
  include/rdc/rdc.h
  rdci/src/RdciPolicySubSystem.cc
  server/src/rdc_api_service.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Profiler - Migrate from rocprofv1 to rocprofv3
  .github/workflows/main.yml
  include/rdc_modules/rdc_rocp/RdcRocpBase.h
  include/rdc_modules/rdc_rocp/RdcRocpCounterSampler.h
  python_binding/RdcReader.py
  python_binding/rdc_collectd.py
  python_binding/rdc_prometheus.py
  rdc_libs/rdc/src/RdcRocpLib.cc
  rdc_libs/rdc_modules/rdc_rocp/CMakeLists.txt
  rdc_libs/rdc_modules/rdc_rocp/RdcRocpBase.cc
  rdc_libs/rdc_modules/rdc_rocp/RdcRocpCounterSampler.cc
  rdc_libs/rdc_modules/rdc_rocp/RdcTelemetryLib.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Fix some bugs.
  include/rdc_modules/rdc_rocp/RdcRocpBase.h
  rdc_libs/rdc_modules/rdc_rocp/RdcRocpBase.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Add RDC_FI_PROF_SM_ACTIVE metric, fix fp64 metric.
  common/rdc_field.data
  example/rocprofiler_example.cc
  include/rdc/rdc.h
  python_binding/rdc_bootstrap.py
  rdc_libs/rdc_modules/rdc_rocp/RdcRocpBase.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

fix group policy reg issue
  server/src/rdc_api_service.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

RVS - Add IET and PEBB tests
  include/rdc/rdc.h
  include/rdc_modules/rdc_rvs/RvsBase.h
  protos/rdc.proto
  rdc_libs/rdc/src/RdcDiagnosticModule.cc
  rdc_libs/rdc_modules/rdc_rvs/RdcDiagnosticLib.cc
  rdc_libs/rdc_modules/rdc_rvs/RvsBase.cc
  rdci/src/RdciDiagSubSystem.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

RVS - Add memory bandwidth test
  include/rdc/rdc.h
  include/rdc_modules/rdc_rvs/RvsBase.h
  protos/rdc.proto
  rdc_libs/rdc/src/RdcDiagnosticModule.cc
  rdc_libs/rdc_modules/rdc_rvs/RdcDiagnosticLib.cc
  rdc_libs/rdc_modules/rdc_rvs/RvsBase.cc
  rdci/src/RdciDiagSubSystem.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update LICENSE
  LICENSE
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Include assert.h during C compilation (#4)
  include/rdc/rdc.h
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

[SWDEV-230863] Improve the functionality of RdcSmiHealth module.
  common/rdc_field.data
  example/health_example.cc
  include/rdc/rdc.h
  include/rdc_lib/impl/RdcWatchTableImpl.h
  python_binding/rdc_bootstrap.py
  rdc_libs/bootstrap/src/RdcBootStrap.cc
  rdc_libs/rdc/src/RdcMetricFetcherImpl.cc
  rdc_libs/rdc/src/RdcSmiLib.cc
  rdc_libs/rdc/src/RdcWatchTableImpl.cc
  rdc_libs/rdc/src/SmiUtils.cc
  rdci/src/RdciHealthSubSystem.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Added KWS check (#88)
  .github/workflows/kws-caller.yml
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Fixed Workflow for updated KWS structure
  .github/workflows/kws-caller.yml
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

SWDEV-510089 Fix rocprof segfaulting on ctrl+c (#94)
  rdc_libs/rdc_modules/rdc_rocp/RdcRocpCounterSampler.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

fixed rdc link state print issue
  include/rdc/rdc.h
  rdci/src/RdciXgmiLinkStatusSubSystem.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Implementation for RDC_FI_PROF_OCCUPANCY_PER_ACTIVE_CU SWDEV-50895
  common/rdc_field.data
  example/rocprofiler_example.cc
  include/rdc/rdc.h
  python_binding/rdc_bootstrap.py
  rdc_libs/rdc_modules/rdc_rocp/RdcRocpBase.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

SWDEV-500382 fix energy consumed
  rdc_libs/rdc/src/RdcCacheManagerImpl.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update workflow to artifacts@v4
  .github/workflows/main.yml
  run_github_actions_locally.sh
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

SWDEV-475255 - MM Engine Decoding Throughput
  common/rdc_field.data
  include/rdc/rdc.h
  python_binding/RdcReader.py
  python_binding/rdc_bootstrap.py
  rdc_libs/rdc/src/RdcMetricFetcherImpl.cc
  rdc_libs/rdc/src/RdcSmiLib.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Fix workflow for rocprof by specifying GPU_TARGETS
  .github/workflows/main.yml
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

fix topology issue
  rdci/src/RdciTopologyLinkSubSystem.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Fix Memory Current Bandwidth (#98)
  rdc_libs/rdc/src/RdcMetricFetcherImpl.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

CMAKE - Rename SMI_*_DIR into AMD_SMI_*_DIR
  CMakeLists.txt
  rdc_libs/CMakeLists.txt
  rdc_libs/bootstrap/CMakeLists.txt
  rdc_libs/rdc/CMakeLists.txt
  rdc_libs/rdc_modules/rdc_rocp/CMakeLists.txt
  rdc_libs/rdc_modules/rdc_rocr/CMakeLists.txt
  rdc_libs/rdc_modules/rdc_rvs/CMakeLists.txt
  rdci/CMakeLists.txt
  server/CMakeLists.txt
  tests/example/CMakeLists.txt
  tests/rdc_tests/CMakeLists.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

SWDEV-508477 Eval Flops Percent (#85)
  common/rdc_field.data
  include/rdc/rdc.h
  python_binding/rdc_bootstrap.py
  rdc_libs/rdc_modules/rdc_rocp/RdcRocpBase.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

CMAKE - Move rdc_options into share/rdc/conf/
  CMakeLists.txt
  README.md
  server/CMakeLists.txt
  server/rdc.service.in
  server/rdc_options.conf
  tests/rdc_tests/CMakeLists.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu, @ROCm/rocm-documentation

Update documentation requirements
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

SWDEV-500382 fix energy consumed (#105)
  rdc_libs/rdc/src/RdcCacheManagerImpl.cc
  rdci/src/RdciStatsSubSystem.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

CMAKE - Fix ABSL in clang18+ (#106)
  README.md
  server/CMakeLists.txt
Owners: @ROCm/rocm-documentation, @dmitrii-galantsev, @bill-shuzhou-liu

DOCS: Add authentication scripts location (#96)
  docs/install/handbook.rst
Owners: @ROCm/rocm-documentation

Dgalants/add auth script location (#108)
  README.md
Owners: @ROCm/rocm-documentation

Revert "Dgalants/add auth script location (#108)"
  README.md
Owners: @ROCm/rocm-documentation
