Repository ROCm/rdc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dmitrii-galantsev, @bill-shuzhou-liu, @ROCm/rocm-documentation

.github/CODEOWNERS:

* @dmitrii-galantsev @bill-shuzhou-liu

docs/* @ROCm/rocm-documentation
*.md @ROCm/rocm-documentation
*.rst @ROCm/rocm-documentation

Make README.md pretty
  README.md
Owners: @ROCm/rocm-documentation

SWDEV-510089 Fix rocprof segfaulting on ctrl+c
  rdc_libs/rdc_modules/rdc_rocp/RdcRocpCounterSampler.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

* Implementation for adding pcie_total
  include/rdc/rdc.h
  protos/rdc.proto
  python_binding/rdc_bootstrap.py
  rdc_libs/rdc/src/RdcCacheManagerImpl.cc
  rdc_libs/rdc/src/RdcGroupSettingsImpl.cc
  rdc_libs/rdc_client/src/RdcStandaloneHandler.cc
  rdci/src/RdciStatsSubSystem.cc
  server/src/rdc_api_service.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

[SWDEV-479339/SWDEV-498804] Added RDC Dockerfile (#50)
  Docker/Dockerfile
  Docker/README.md
Owners: @dmitrii-galantsev, @bill-shuzhou-liu, @ROCm/rocm-documentation

SWDEV-508477 - Profiler add FP*_PERCENT
  common/rdc_field.data
  include/rdc/rdc.h
  python_binding/rdc_bootstrap.py
  rdc_libs/rdc_modules/rdc_rocp/RdcRocpBase.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Enable RDC policy feature
  common/rdc_field.data
  example/CMakeLists.txt
  example/health_example.cc
  example/policy_example.cc
  include/rdc/rdc.h
  include/rdc_lib/RdcCacheManager.h
  include/rdc_lib/RdcHandler.h
  include/rdc_lib/RdcPolicy.h
  include/rdc_lib/RdcWatchTable.h
  include/rdc_lib/impl/RdcCacheManagerImpl.h
  include/rdc_lib/impl/RdcEmbeddedHandler.h
  include/rdc_lib/impl/RdcPolicyImpl.h
  include/rdc_lib/impl/RdcStandaloneHandler.h
  include/rdc_lib/impl/RdcWatchTableImpl.h
  protos/rdc.proto
  python_binding/rdc_bootstrap.py
  rdc_libs/bootstrap/src/RdcBootStrap.cc
  rdc_libs/rdc/CMakeLists.txt
  rdc_libs/rdc/src/RdcCacheManagerImpl.cc
  rdc_libs/rdc/src/RdcEmbeddedHandler.cc
  rdc_libs/rdc/src/RdcMetricFetcherImpl.cc
  rdc_libs/rdc/src/RdcPolicyImpl.cc
  rdc_libs/rdc/src/RdcSmiLib.cc
  rdc_libs/rdc/src/RdcWatchTableImpl.cc
  rdc_libs/rdc/src/SmiUtils.cc
  rdc_libs/rdc_client/src/RdcStandaloneHandler.cc
  rdci/CMakeLists.txt
  rdci/include/RdciHealthSubSystem.h
  rdci/include/RdciPolicySubSystem.h
  rdci/src/RdciHealthSubSystem.cc
  rdci/src/RdciPolicySubSystem.cc
  rdci/src/rdci.cc
  server/include/rdc/rdc_api_service.h
  server/src/rdc_api_service.cc
  server/src/rdc_server_main.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

SWDEV-512736 Fix RDC Policy callback printout (#114)
  rdc_libs/rdc/src/RdcPolicyImpl.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Fixed RDC to work with updated amdsmi_get_power_info() (#115)
  rdc_libs/rdc/src/RdcMetricFetcherImpl.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Enabling trigger for release psdb compute-psdb-rel-6.4 job
  .github/workflows/rocm_ci_caller.yml
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update documentation requirements
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Modify the error log for MM_ENC_UTIL
  rdc_libs/rdc/src/RdcMetricFetcherImpl.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

CMAKE - Set fallback version to 0.3.0
  CMakeLists.txt
  rdc_libs/CMakeLists.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

[SWDEV-517396] Align rdc_field with rdc_bootstrap
  common/rdc_field.data
  docs/how-to/integration.rst
  example/rocprofiler_example.cc
  python_binding/rdc_bootstrap.py
Owners: @dmitrii-galantsev, @bill-shuzhou-liu, @ROCm/rocm-documentation

Fix Prometheus counters
  python_binding/rdc_bootstrap.py
  python_binding/rdc_prometheus.py
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

RDC REST API (Sample code)
  python_binding/README_rdc_rest_api.txt
  python_binding/rdc_rest_api.py
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update gRPC to 1.67.1
  CMakeLists.txt
  README.md
Owners: @dmitrii-galantsev, @bill-shuzhou-liu, @ROCm/rocm-documentation

Fix workflow until grpc updates on github
  .github/workflows/main.yml
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Refactor RDC documentation
  README.md
  docs/Conceptual/components.rst
  docs/how-to/features.rst
  docs/how-to/integration.rst
  docs/how-to/user_guide.rst
  docs/how-to/using_RDC.rst
  docs/how-to/using_RDC_features.rst
  docs/index.rst
  docs/install/handbook.rst
  docs/install/install.rst
  docs/reference/api_intro.rst
  docs/reference/api_ref.rst
  docs/sphinx/_toc.yml.in
  docs/tutorial/job_stats_sample.rst
Owners: @ROCm/rocm-documentation, @dmitrii-galantsev, @bill-shuzhou-liu

CHANGELOG - Add 6.4.0 updates
  CHANGELOG.md
Owners: @ROCm/rocm-documentation

RVS - Disable IET test
  rdc_libs/rdc_modules/rdc_rvs/RdcDiagnosticLib.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

RVS - Disable IET test
  rdc_libs/rdc_modules/rdc_rvs/RdcDiagnosticLib.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

bump rocm-docs-core to 1.17.1
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

update sphinx/conf.py
  docs/conf.py
Owners: @ROCm/rocm-documentation

bump rocm-docs-core to 1.18.1
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update Doxyfile
  docs/doxygen/Doxyfile
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

test updated doxyfile
  docs/doxygen/Doxyfile
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

remove CRs from Doxyfile
  docs/doxygen/Doxyfile
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Fix amdsmi_get_power_info API
  rdc_libs/rdc/src/RdcMetricFetcherImpl.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Fix amdsmi_get_power_info API
  rdc_libs/rdc/src/RdcMetricFetcherImpl.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

[SWDEV-498711] RDC Partition Implementation (#119)
  include/rdc/rdc.h
  include/rdc_lib/RdcEntityCodec.h
  include/rdc_lib/RdcHandler.h
  include/rdc_lib/RdcPartition.h
  include/rdc_lib/impl/RdcEmbeddedHandler.h
  include/rdc_lib/impl/RdcGroupSettingsImpl.h
  include/rdc_lib/impl/RdcPartitionImpl.h
  include/rdc_lib/impl/RdcStandaloneHandler.h
  protos/rdc.proto
  python_binding/RdcReader.py
  rdc_libs/bootstrap/CMakeLists.txt
  rdc_libs/bootstrap/src/RdcBootStrap.cc
  rdc_libs/bootstrap/src/RdcEntityCodec.cc
  rdc_libs/rdc/CMakeLists.txt
  rdc_libs/rdc/src/RdcEmbeddedHandler.cc
  rdc_libs/rdc/src/RdcGroupSettingsImpl.cc
  rdc_libs/rdc/src/RdcMetricFetcherImpl.cc
  rdc_libs/rdc/src/RdcPartitionImpl.cc
  rdc_libs/rdc/src/RdcWatchTableImpl.cc
  rdc_libs/rdc/src/SmiUtils.cc
  rdc_libs/rdc_client/src/RdcStandaloneHandler.cc
  rdci/CMakeLists.txt
  rdci/include/RdciDiscoverySubSystem.h
  rdci/include/RdciDmonSubSystem.h
  rdci/src/RdciDiscoverySubSystem.cc
  rdci/src/RdciDmonSubSystem.cc
  server/include/rdc/rdc_api_service.h
  server/src/rdc_api_service.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Profiler - Add CPC and CPF metrics
  common/rdc_field.data
  include/rdc/rdc.h
  python_binding/rdc_bootstrap.py
  rdc_libs/rdc_modules/rdc_rocp/RdcRocpBase.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Fix diagnostic example and allow building
  CMakeLists.txt
  example/CMakeLists.txt
  example/diagnostic_example.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Profiler - Remove bootstrap link
  rdc_libs/rdc_modules/rdc_rocp/CMakeLists.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

CMAKE - Add BUILD_INTERFACE include dirs for rdc_bootstrap
  rdc_libs/bootstrap/CMakeLists.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

RVS - Add long-running tests
  include/rdc/rdc.h
  include/rdc_modules/rdc_rvs/RvsBase.h
  rdc_libs/rdc/src/RdcDiagnosticModule.cc
  rdc_libs/rdc_modules/rdc_rvs/CMakeLists.txt
  rdc_libs/rdc_modules/rdc_rvs/RdcDiagnosticLib.cc
  rdc_libs/rdc_modules/rdc_rvs/RvsBase.cc
  rdc_libs/rdc_modules/rdc_rvs/conf/MI210/babel_long.conf
  rdc_libs/rdc_modules/rdc_rvs/conf/MI210/gst_single_long.conf
  rdc_libs/rdc_modules/rdc_rvs/conf/MI210/iet_stress_long.conf
  rdc_libs/rdc_modules/rdc_rvs/conf/MI210/pebb_single_long.conf
  rdc_libs/rdc_modules/rdc_rvs/conf/MI300A/iet_stress_long.conf
  rdc_libs/rdc_modules/rdc_rvs/conf/MI300A/pebb_single_long.conf
  rdc_libs/rdc_modules/rdc_rvs/conf/MI300X/babel_long.conf
  rdc_libs/rdc_modules/rdc_rvs/conf/MI300X/gst_single_long.conf
  rdc_libs/rdc_modules/rdc_rvs/conf/MI300X/iet_stress.conf
  rdc_libs/rdc_modules/rdc_rvs/conf/MI300X/iet_stress_long.conf
  rdc_libs/rdc_modules/rdc_rvs/conf/MI300X/pebb_single_long.conf
  rdc_libs/rdc_modules/rdc_rvs/conf/MI308X/babel_long.conf
  rdc_libs/rdc_modules/rdc_rvs/conf/MI308X/gst_single_long.conf
  rdc_libs/rdc_modules/rdc_rvs/conf/MI308X/iet_stress_long.conf
  rdc_libs/rdc_modules/rdc_rvs/conf/nv21/gst_single.conf
  rdc_libs/rdc_modules/rdc_rvs/conf/nv21/gst_single_long.conf
  rdc_libs/rdc_modules/rdc_rvs/conf/nv21/iet_stress_long.conf
  rdc_libs/rdc_modules/rdc_rvs/conf/nv21/pebb_single_long.conf
  rdc_libs/rdc_modules/rdc_rvs/conf/nv31/gst_single.conf
  rdc_libs/rdc_modules/rdc_rvs/conf/nv31/gst_single_long.conf
  rdc_libs/rdc_modules/rdc_rvs/conf/nv31/iet_stress_long.conf
  rdc_libs/rdc_modules/rdc_rvs/conf/nv31/pebb_single_long.conf
  rdc_libs/rdc_modules/rdc_rvs/conf/nv32/gst_single_long.conf
  rdc_libs/rdc_modules/rdc_rvs/conf/nv32/iet_stress_long.conf
  rdc_libs/rdc_modules/rdc_rvs/conf/nv32/pebb_single_long.conf
  rdci/src/RdciDiagSubSystem.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Added KWS check for amd-mainline (#140)
  .github/workflows/kws-caller.yml
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

CMAKE - Fix build types
  CMakeLists.txt
  example/CMakeLists.txt
  rdc_libs/CMakeLists.txt
  rdci/CMakeLists.txt
  server/CMakeLists.txt
  tests/example/CMakeLists.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Implement CPU discovery support (#77)
  CMakeLists.txt
  common/rdc_field.data
  include/rdc/rdc.h
  include/rdc_lib/RdcHandler.h
  include/rdc_lib/RdcMetricFetcher.h
  include/rdc_lib/impl/RdcEmbeddedHandler.h
  include/rdc_lib/impl/RdcMetricFetcherImpl.h
  include/rdc_lib/impl/RdcStandaloneHandler.h
  protos/rdc.proto
  rdc_libs/bootstrap/src/RdcBootStrap.cc
  rdc_libs/rdc/src/RdcEmbeddedHandler.cc
  rdc_libs/rdc/src/RdcMetricFetcherImpl.cc
  rdc_libs/rdc_client/src/RdcStandaloneHandler.cc
  rdci/src/RdciDiscoverySubSystem.cc
  server/include/rdc/rdc_api_service.h
  server/src/rdc_api_service.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

[SWDEV-517396] Align rdc_field with rdc_bootstrap
  common/rdc_field.data
  docs/how-to/integration.rst
  example/rocprofiler_example.cc
  python_binding/rdc_bootstrap.py
Owners: @dmitrii-galantsev, @bill-shuzhou-liu, @ROCm/rocm-documentation

[SWDEV-498711] RDC Partition Implementation (#119)
  include/rdc/rdc.h
  include/rdc_lib/RdcEntityCodec.h
  include/rdc_lib/RdcHandler.h
  include/rdc_lib/RdcPartition.h
  include/rdc_lib/impl/RdcEmbeddedHandler.h
  include/rdc_lib/impl/RdcGroupSettingsImpl.h
  include/rdc_lib/impl/RdcPartitionImpl.h
  include/rdc_lib/impl/RdcStandaloneHandler.h
  protos/rdc.proto
  python_binding/RdcReader.py
  rdc_libs/bootstrap/CMakeLists.txt
  rdc_libs/bootstrap/src/RdcBootStrap.cc
  rdc_libs/bootstrap/src/RdcEntityCodec.cc
  rdc_libs/rdc/CMakeLists.txt
  rdc_libs/rdc/src/RdcEmbeddedHandler.cc
  rdc_libs/rdc/src/RdcGroupSettingsImpl.cc
  rdc_libs/rdc/src/RdcMetricFetcherImpl.cc
  rdc_libs/rdc/src/RdcPartitionImpl.cc
  rdc_libs/rdc/src/RdcWatchTableImpl.cc
  rdc_libs/rdc/src/SmiUtils.cc
  rdc_libs/rdc_client/src/RdcStandaloneHandler.cc
  rdci/CMakeLists.txt
  rdci/include/RdciDiscoverySubSystem.h
  rdci/include/RdciDmonSubSystem.h
  rdci/src/RdciDiscoverySubSystem.cc
  rdci/src/RdciDmonSubSystem.cc
  server/include/rdc/rdc_api_service.h
  server/src/rdc_api_service.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu
