Repository ROCm/rdc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dmitrii-galantsev, @bill-shuzhou-liu, @ROCm/rocm-documentation

Update install.rst
  docs/install/install.rst
Owners: @ROCm/rocm-documentation

update .readthedocs setting
  .readthedocs.yaml
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

fix typo
  include/rdc/rdc.h
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update documentation requirements
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Profiler - Align SMI and Profiler indices
  common/rdc_field.data
  include/rdc/rdc.h
  include/rdc_modules/rdc_rocp/RdcRocpBase.h
  rdc_libs/rdc/src/RdcMetricFetcherImpl.cc
  rdc_libs/rdc/src/RdcSmiLib.cc
  rdc_libs/rdc_modules/rdc_rocp/CMakeLists.txt
  rdc_libs/rdc_modules/rdc_rocp/RdcRocpBase.cc
  rdc_libs/rdc_modules/rdc_rocp/RdcTelemetryLib.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

RDCI - Fix misaligned fields
  rdci/src/RdciDmonSubSystem.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Fix typo in rdc.h
  include/rdc/rdc.h
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

[SWDEV-243250] RDC Process Start/Stop integration (#189)
  common/rdc_field.data
  include/rdc/rdc.h
  include/rdc_lib/impl/RdcCacheManagerImpl.h
  include/rdc_lib/impl/SmiUtils.h
  protos/rdc.proto
  python_binding/rdc_bootstrap.py
  rdc_libs/rdc/src/RdcCacheManagerImpl.cc
  rdc_libs/rdc/src/RdcNotificationImpl.cc
  rdc_libs/rdc/src/RdcWatchTableImpl.cc
  rdc_libs/rdc/src/SmiUtils.cc
  rdc_libs/rdc_client/src/RdcStandaloneHandler.cc
  rdci/src/RdciStatsSubSystem.cc
  server/src/rdc_api_service.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Bump AMD-SMI Version
  CMakeLists.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

[SWDEV-535739] Align RDC with amdsmi 26.0 (#191)
  protos/rdc.proto
  rdc_libs/rdc/src/RdcEmbeddedHandler.cc
  rdc_libs/rdc/src/RdcSmiDiagnosticImpl.cc
  rdc_libs/rdc/src/RdcTopologyLinkImpl.cc
  rdci/src/RdciTopologyLinkSubSystem.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

RDC Event Process Start/Stop Fix (#193)
  example/topologylink_example.cc
  include/rdc/rdc.h
  rdc_libs/rdc/src/RdcWatchTableImpl.cc
  rdc_libs/rdc_client/src/RdcStandaloneHandler.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Profiler - Add partition support
  common/rdc_field.data
  include/rdc/rdc.h
  include/rdc_modules/rdc_rocp/RdcRocpBase.h
  rdc_libs/rdc/src/RdcEmbeddedHandler.cc
  rdc_libs/rdc/src/RdcMetricFetcherImpl.cc
  rdc_libs/rdc/src/RdcSmiLib.cc
  rdc_libs/rdc/src/RdcWatchTableImpl.cc
  rdc_libs/rdc/src/SmiUtils.cc
  rdc_libs/rdc_modules/rdc_rocp/RdcRocpBase.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Profiler - Update to 1.0
  include/rdc_modules/rdc_rocp/RdcRocpCounterSampler.h
  rdc_libs/rdc_modules/rdc_rocp/CMakeLists.txt
  rdc_libs/rdc_modules/rdc_rocp/RdcRocpCounterSampler.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Fix missing #include <array>
  include/rdc_lib/impl/RdcCacheManagerImpl.h
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Profiler - Add CPC and CPF metrics
  common/rdc_field.data
  include/rdc/rdc.h
  python_binding/rdc_bootstrap.py
  rdc_libs/rdc_modules/rdc_rocp/RdcRocpBase.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Profiler - Align SMI and Profiler indices
  common/rdc_field.data
  include/rdc/rdc.h
  include/rdc_modules/rdc_rocp/RdcRocpBase.h
  rdc_libs/rdc/src/RdcMetricFetcherImpl.cc
  rdc_libs/rdc/src/RdcSmiLib.cc
  rdc_libs/rdc_modules/rdc_rocp/CMakeLists.txt
  rdc_libs/rdc_modules/rdc_rocp/RdcRocpBase.cc
  rdc_libs/rdc_modules/rdc_rocp/RdcTelemetryLib.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

RDCI - Fix misaligned fields
  rdci/src/RdciDmonSubSystem.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Profiler - Add partition support
  common/rdc_field.data
  include/rdc/rdc.h
  include/rdc_modules/rdc_rocp/RdcRocpBase.h
  rdc_libs/rdc/src/RdcEmbeddedHandler.cc
  rdc_libs/rdc/src/RdcMetricFetcherImpl.cc
  rdc_libs/rdc/src/RdcSmiLib.cc
  rdc_libs/rdc/src/RdcWatchTableImpl.cc
  rdc_libs/rdc/src/SmiUtils.cc
  rdc_libs/rdc_modules/rdc_rocp/RdcRocpBase.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

[SWDEV-531379] Fix config (#183)
  rdci/include/RdciConfigSubSystem.h
  rdci/src/RdciConfigSubSystem.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

CMAKE - CONFIGURE -> CONFIG
  CMakeLists.txt
  rdc_libs/rdc_modules/rdc_rocp/CMakeLists.txt
  rdc_libs/rdc_modules/rdc_rocr/CMakeLists.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Python - Add entitycodec
  python_binding/RdcReader.py
  python_binding/rdc_bootstrap.py
  rdc_libs/rdc_modules/rdc_rocp/CMakeLists.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Profiler - Remove rocprofiler-v1 remnants
  README.md
  docs/how-to/using_RDC.rst
  include/rdc_lib/impl/RdcRocpLib.h
  rdc_libs/rdc/src/RdcRocpLib.cc
Owners: @ROCm/rocm-documentation, @dmitrii-galantsev, @bill-shuzhou-liu

CHORE - Ignore gersemi commit
  .git-blame-ignore-revs
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

CMAKE - Add gersemi to replace cmake-format
  .cmake-format
  .gersemirc
  .github/workflows/cmake_format.yml
  .pre-commit-config.yaml
  tools/cmake_format.sh
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

CI - Fix cmake-format
  .github/workflows/cmake_format.yml
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

CMAKE - Format with gersemi
  CMakeLists.txt
  cmake_modules/Findrocprofiler.cmake
  cmake_modules/Findrvs.cmake
  cmake_modules/utils.cmake
  example/CMakeLists.txt
  rdc_libs/CMakeLists.txt
  rdc_libs/bootstrap/CMakeLists.txt
  rdc_libs/rdc/CMakeLists.txt
  rdc_libs/rdc_client/CMakeLists.txt
  rdc_libs/rdc_modules/rdc_rocp/CMakeLists.txt
  rdc_libs/rdc_modules/rdc_rocr/CMakeLists.txt
  rdc_libs/rdc_modules/rdc_rvs/CMakeLists.txt
  rdci/CMakeLists.txt
  server/CMakeLists.txt
  tests/example/CMakeLists.txt
  tests/rdc_tests/CMakeLists.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

fixup! CHORE - Ignore gersemi commit
  .git-blame-ignore-revs
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

SWDEV-531400 Remove file reorganization backwards compatibility (rdc)
  src/header_template.hpp.in
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Adam/bill cleanup (#209)
  include/rdc_modules/rdc_rocp/RdcRocpBase.h
  rdc_libs/rdc_modules/rdc_rocp/RdcRocpBase.cc
  rdc_libs/rdc_modules/rdc_rvs/RvsBase.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

CPU - Init amdsmi with CPUs enabled
  CMakeLists.txt
  common/rdc_field.data
  common/rdc_fields_supported.cc
  include/rdc/rdc.h
  protos/rdc.proto
  rdc_libs/rdc/src/RdcEmbeddedHandler.cc
  rdc_libs/rdc/src/RdcMetricFetcherImpl.cc
  rdc_libs/rdc/src/RdcSmiLib.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

CI - Remove cache for cmake_format
  .github/workflows/cmake_format.yml
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update documentation requirements
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

[SWDEV-379269] Add all gpus as default to dmon (#211)
  rdci/src/RdciDmonSubSystem.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

fix typo
  include/rdc/rdc.h
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

[AFLDSUP-83] Add missing header inclusion for C builds
  include/rdc/rdc.h
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

FORMAT - Bump gersemi version
  .gersemirc
  .github/workflows/cmake_format.yml
  .pre-commit-config.yaml
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

FORMAT - Use official clang-format repo for pre-commit
  .pre-commit-config.yaml
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

[AFLDSUP-87] Add libcap-dev to source build documentation dependency installation chain
  README.md
  docs/install/install.rst
Owners: @ROCm/rocm-documentation

README - Add libcap-dev dependency
  README.md
  docs/install/install.rst
Owners: @ROCm/rocm-documentation

Add missing header inclusion for C builds
  include/rdc/rdc.h
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

.github/CODEOWNERS:

* @dmitrii-galantsev @bill-shuzhou-liu

docs/* @ROCm/rocm-documentation
*.md @ROCm/rocm-documentation
*.rst @ROCm/rocm-documentation
