Repository ROCm/rdc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dmitrii-galantsev, @bill-shuzhou-liu, @ROCm/rocm-documentation

doc reorganization
  LICENSE
  docs/api_ref.rst
  docs/how-to/features.rst
  docs/how-to/integration.rst
  docs/how-to/user_guide.rst
  docs/index.md
  docs/index.rst
  docs/install/handbook.rst
  docs/install/install.rst
  docs/reference/api_intro.rst
  docs/reference/api_ref.rst
  docs/sphinx/_toc.yml.in
  docs/user_guide/api.md
  docs/user_guide/features.md
  docs/user_guide/handbook.md
  docs/user_guide/install.md
  docs/user_guide/integration.md
  docs/user_guide/user_guide.md
Owners: @dmitrii-galantsev, @bill-shuzhou-liu, @ROCm/rocm-documentation

leo update
  docs/how-to/features.rst
  docs/how-to/integration.rst
  docs/how-to/user_guide.rst
  docs/index.rst
  docs/install/handbook.rst
  docs/install/install.rst
  docs/reference/api_intro.rst
  docs/sphinx/_toc.yml.in
Owners: @ROCm/rocm-documentation, @dmitrii-galantsev, @bill-shuzhou-liu

leo update
  docs/how-to/features.rst
  docs/how-to/integration.rst
  docs/how-to/user_guide.rst
  docs/index.rst
  docs/install/handbook.rst
  docs/install/install.rst
  docs/reference/api_intro.rst
  docs/sphinx/_toc.yml.in
Owners: @ROCm/rocm-documentation, @dmitrii-galantsev, @bill-shuzhou-liu

link updates, spelling
  README.md
  python_binding/README.md
Owners: @ROCm/rocm-documentation

link updates, spelling
  README.md
  python_binding/README.md
Owners: @ROCm/rocm-documentation

Profiler - Add all required metrics
  common/rdc_field.data
  include/rdc/rdc.h
  include/rdc_modules/rdc_rocp/RdcRocpBase.h
  rdc_libs/rdc_modules/rdc_rocp/RdcRocpBase.cc
  rdc_libs/rdc_modules/rdc_rocp/RdcTelemetryLib.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Profiler - Add all required metrics
  common/rdc_field.data
  include/rdc/rdc.h
  include/rdc_modules/rdc_rocp/RdcRocpBase.h
  rdc_libs/rdc_modules/rdc_rocp/RdcRocpBase.cc
  rdc_libs/rdc_modules/rdc_rocp/RdcTelemetryLib.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

demo change do not merge
  README.md
Owners: @ROCm/rocm-documentation

Azure - Add rocm-ci.yml
  .azuredevops/rocm-ci.yml
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Azure - Add rocm-ci.yml
  .azuredevops/rocm-ci.yml
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Add memory bandwidth metrics
  common/rdc_field.data
  include/rdc/rdc.h
  rdc_libs/rdc_modules/rdc_rocp/RdcRocpBase.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Add memory bandwidth metrics
  common/rdc_field.data
  include/rdc/rdc.h
  rdc_libs/rdc_modules/rdc_rocp/RdcRocpBase.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Add rocprofiler_example.cc and fix logging
  example/CMakeLists.txt
  example/rocprofiler_example.cc
  rdc_libs/rdc_modules/rdc_rocp/RdcRocpBase.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Add rocprofiler_example.cc and fix logging
  example/CMakeLists.txt
  example/rocprofiler_example.cc
  rdc_libs/rdc_modules/rdc_rocp/RdcRocpBase.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

doc reorganization
  LICENSE
  docs/api_ref.rst
  docs/how-to/features.rst
  docs/how-to/integration.rst
  docs/how-to/user_guide.rst
  docs/index.md
  docs/index.rst
  docs/install/handbook.rst
  docs/install/install.rst
  docs/reference/api_intro.rst
  docs/reference/api_ref.rst
  docs/sphinx/_toc.yml.in
  docs/user_guide/api.md
  docs/user_guide/features.md
  docs/user_guide/handbook.md
  docs/user_guide/install.md
  docs/user_guide/integration.md
  docs/user_guide/user_guide.md
Owners: @dmitrii-galantsev, @bill-shuzhou-liu, @ROCm/rocm-documentation

leo update
  docs/how-to/features.rst
  docs/how-to/integration.rst
  docs/how-to/user_guide.rst
  docs/index.rst
  docs/install/handbook.rst
  docs/install/install.rst
  docs/reference/api_intro.rst
  docs/sphinx/_toc.yml.in
Owners: @ROCm/rocm-documentation, @dmitrii-galantsev, @bill-shuzhou-liu

Updated RDC to use AMD-SMI 24.6.0 structs
  rdc_libs/rdc/src/RdcMetricFetcherImpl.cc
  rdc_libs/rdc/src/RdcSmiDiagnosticImpl.cc
  rdc_libs/rdc/src/SmiUtils.cc
  tests/rdc_tests/test_common.cc
  tests/rdc_tests/test_utils.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Updated RDC to use AMD-SMI 24.6.0 structs
  rdc_libs/rdc/src/RdcMetricFetcherImpl.cc
  rdc_libs/rdc/src/RdcSmiDiagnosticImpl.cc
  rdc_libs/rdc/src/SmiUtils.cc
  tests/rdc_tests/test_common.cc
  tests/rdc_tests/test_utils.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Add GPU indexing and fix check for fields in rocprof
  .gitignore
  common/rdc_field.data
  example/rocprofiler_example.cc
  include/rdc/rdc.h
  include/rdc_modules/rdc_rocp/RdcRocpBase.h
  rdc_libs/rdc_modules/rdc_rocp/RdcRocpBase.cc
  rdc_libs/rdc_modules/rdc_rocp/RdcTelemetryLib.cc
  tests/rdc_tests/CMakeLists.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Add GPU indexing and fix check for fields in rocprof
  .gitignore
  common/rdc_field.data
  example/rocprofiler_example.cc
  include/rdc/rdc.h
  include/rdc_modules/rdc_rocp/RdcRocpBase.h
  rdc_libs/rdc_modules/rdc_rocp/RdcRocpBase.cc
  rdc_libs/rdc_modules/rdc_rocp/RdcTelemetryLib.cc
  tests/rdc_tests/CMakeLists.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Finalize the rocprofiler fields
  common/rdc_field.data
  example/rocprofiler_example.cc
  include/rdc/rdc.h
  include/rdc_modules/rdc_rocp/RdcRocpBase.h
  rdc_libs/rdc_modules/rdc_rocp/RdcRocpBase.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Finalize the rocprofiler fields
  common/rdc_field.data
  example/rocprofiler_example.cc
  include/rdc/rdc.h
  include/rdc_modules/rdc_rocp/RdcRocpBase.h
  rdc_libs/rdc_modules/rdc_rocp/RdcRocpBase.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Fix rocprofiler plugin
  common/rdc_field.data
  example/rocprofiler_example.cc
  include/rdc/rdc.h
  include/rdc_lib/impl/RdcRocpLib.h
  rdc_libs/rdc/src/RdcRocpLib.cc
  rdc_libs/rdc_modules/rdc_rocp/RdcRocpBase.cc
  rdc_libs/rdc_modules/rdc_rocp/RdcTelemetryLib.cc
  tests/rdc_tests/functional/rdci_group.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Fix rocprofiler plugin
  common/rdc_field.data
  example/rocprofiler_example.cc
  include/rdc/rdc.h
  include/rdc_lib/impl/RdcRocpLib.h
  rdc_libs/rdc/src/RdcRocpLib.cc
  rdc_libs/rdc_modules/rdc_rocp/RdcRocpBase.cc
  rdc_libs/rdc_modules/rdc_rocp/RdcTelemetryLib.cc
  tests/rdc_tests/functional/rdci_group.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Rewrite rocprofiler plugin
  include/rdc_modules/rdc_rocp/RdcRocpBase.h
  rdc_libs/rdc_modules/rdc_rocp/RdcRocpBase.cc
  rdc_libs/rdc_modules/rdc_rocp/RdcTelemetryLib.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Rewrite rocprofiler plugin
  include/rdc_modules/rdc_rocp/RdcRocpBase.h
  rdc_libs/rdc_modules/rdc_rocp/RdcRocpBase.cc
  rdc_libs/rdc_modules/rdc_rocp/RdcTelemetryLib.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Use correct rocprofiler metrics
  rdc_libs/rdc_modules/rdc_rocp/RdcRocpBase.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Use correct rocprofiler metrics
  rdc_libs/rdc_modules/rdc_rocp/RdcRocpBase.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update documentation requirements
  docs/sphinx/requirements.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

.github/CODEOWNERS:

* @dmitrii-galantsev @bill-shuzhou-liu

docs/* @ROCm/rocm-documentation
*.md @ROCm/rocm-documentation
*.rst @ROCm/rocm-documentation
