Repository ROCm/rdc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dmitrii-galantsev, @bill-shuzhou-liu, @ROCm/rocm-documentation

.github/CODEOWNERS:

* @dmitrii-galantsev @bill-shuzhou-liu

docs/* @ROCm/rocm-documentation
*.md @ROCm/rocm-documentation
*.rst @ROCm/rocm-documentation

Add .github/CONTRIBUTING.md
  .github/CONTRIBUTING.md
Owners: @ROCm/rocm-documentation

Add .github/CONTRIBUTING.md
  .github/CONTRIBUTING.md
Owners: @ROCm/rocm-documentation

Start rdc.service after installing the rdc package
  CMakeLists.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Start rdc.service after installing the rdc package
  CMakeLists.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Fix links and add certificate gen guide
  README.md
Owners: @ROCm/rocm-documentation

Fix links and add certificate gen guide
  README.md
Owners: @ROCm/rocm-documentation

Adds ability to modify rdc parameters via /etc/default/rdc. Sample file included.
  server/rdc.service.in
  server/rdc_options
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update CHANGELOG.md for ROCm 6.1
  CHANGELOG.md
Owners: @ROCm/rocm-documentation

Update CHANGELOG.md for ROCm 6.1
  CHANGELOG.md
Owners: @ROCm/rocm-documentation

update
  docs/sphinx/requirements.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

update
  docs/sphinx/requirements.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

update
  docs/sphinx/requirements.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

GIT - Sync dependabot settings with amdsmi
  .github/dependabot.yml
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

GIT - Sync dependabot settings with amdsmi
  .github/dependabot.yml
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Remove hard coded ROCm path in rdc.service
  cmake_modules/utils.cmake
  server/rdc.service.in
  src/DEBIAN_postinst.in
  src/DEBIAN_prerm.in
  src/RPM_postun.in
  src/RPM_rpm_post.in
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Revert "Sort the ROCr gpu index based on BDF"
  rdc_libs/rdc_modules/rdc_rocr/TestBase.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Remove hard coded ROCm path in rdc.service
  cmake_modules/utils.cmake
  server/rdc.service.in
  src/DEBIAN_postinst.in
  src/DEBIAN_prerm.in
  src/RPM_postun.in
  src/RPM_rpm_post.in
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Revert "Sort the ROCr gpu index based on BDF"
  rdc_libs/rdc_modules/rdc_rocr/TestBase.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

git-blame - Ignore formatting commit
  .git-blame-ignore-revs
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

git-blame - Ignore formatting commit
  .git-blame-ignore-revs
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update doc reqs
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

CMAKE - Use ADDRESS_SANITIZER env var
  CMakeLists.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

CMAKE - Use ADDRESS_SANITIZER env var
  CMakeLists.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update kBlockNameMap
  tests/rdc_tests/test_common.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update kBlockNameMap
  tests/rdc_tests/test_common.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

update
  docs/sphinx/requirements.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

rocm-docs update
  .readthedocs.yaml
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Adds the ability to modify 'rdc' options
  server/CMakeLists.txt
  server/rdc.service.in
  server/rdc_options
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Adds the ability to modify 'rdc' options
  server/CMakeLists.txt
  server/rdc.service.in
  server/rdc_options
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Add new XGMI and PCIE bandwidth fields from gpu_metrics
  common/rdc_field.data
  include/rdc/rdc.h
  python_binding/rdc_bootstrap.py
  rdc_libs/rdc/src/RdcMetricFetcherImpl.cc
  rdc_libs/rdc/src/RdcSmiLib.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Add new XGMI and PCIE bandwidth fields from gpu_metrics
  common/rdc_field.data
  include/rdc/rdc.h
  python_binding/rdc_bootstrap.py
  rdc_libs/rdc/src/RdcMetricFetcherImpl.cc
  rdc_libs/rdc/src/RdcSmiLib.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

AMDSMI - Add ring hang event
  common/rdc_field.data
  include/rdc/rdc.h
  python_binding/rdc_bootstrap.py
  rdc_libs/rdc/src/RdcNotificationImpl.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

AMDSMI - Add ring hang event
  common/rdc_field.data
  include/rdc/rdc.h
  python_binding/rdc_bootstrap.py
  rdc_libs/rdc/src/RdcNotificationImpl.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Error if power metric inaccessible
  rdc_libs/rdc/src/RdcEmbeddedHandler.cc
  rdc_libs/rdc/src/RdcMetricFetcherImpl.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Add rocprofiler plugin
  CMakeLists.txt
  README.md
  cmake_modules/Findrocprofiler.cmake
  common/rdc_field.data
  include/rdc/rdc.h
  include/rdc_lib/impl/RdcEmbeddedHandler.h
  include/rdc_lib/impl/RdcMetricFetcherImpl.h
  include/rdc_lib/impl/RdcMetricsUpdaterImpl.h
  include/rdc_lib/impl/RdcRocpLib.h
  include/rdc_modules/rdc_rocp/RdcRocpBase.h
  rdc_libs/rdc/src/RdcModuleMgrImpl.cc
  rdc_libs/rdc/src/RdcRocpLib.cc
  rdc_libs/rdc_modules/rdc_rocp/CMakeLists.txt
  rdc_libs/rdc_modules/rdc_rocp/RdcRocpBase.cc
  rdc_libs/rdc_modules/rdc_rocp/RdcTelemetryLib.cc
  rdc_libs/rdc_modules/rdc_rocr/CMakeLists.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu, @ROCm/rocm-documentation

Fix runpath for rdci and rdcd
  CMakeLists.txt
  rdci/CMakeLists.txt
  server/CMakeLists.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Error if power metric inaccessible
  rdc_libs/rdc/src/RdcEmbeddedHandler.cc
  rdc_libs/rdc/src/RdcMetricFetcherImpl.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Fix runpath for rdci and rdcd
  CMakeLists.txt
  rdci/CMakeLists.txt
  server/CMakeLists.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Add rocprofiler plugin
  CMakeLists.txt
  README.md
  cmake_modules/Findrocprofiler.cmake
  common/rdc_field.data
  include/rdc/rdc.h
  include/rdc_lib/impl/RdcEmbeddedHandler.h
  include/rdc_lib/impl/RdcMetricFetcherImpl.h
  include/rdc_lib/impl/RdcMetricsUpdaterImpl.h
  include/rdc_lib/impl/RdcRocpLib.h
  include/rdc_modules/rdc_rocp/RdcRocpBase.h
  rdc_libs/rdc/src/RdcModuleMgrImpl.cc
  rdc_libs/rdc/src/RdcRocpLib.cc
  rdc_libs/rdc_modules/rdc_rocp/CMakeLists.txt
  rdc_libs/rdc_modules/rdc_rocp/RdcRocpBase.cc
  rdc_libs/rdc_modules/rdc_rocp/RdcTelemetryLib.cc
  rdc_libs/rdc_modules/rdc_rocr/CMakeLists.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu, @ROCm/rocm-documentation

doc reorganization
  LICENSE
  docs/api_ref.rst
  docs/how-to/features.rst
  docs/how-to/integration.rst
  docs/how-to/user_guide.rst
  docs/index.md
  docs/index.rst
  docs/install/handbook.rst
  docs/install/install.rst
  docs/reference/api_intro.rst
  docs/reference/api_ref.rst
  docs/sphinx/_toc.yml.in
  docs/user_guide/api.md
  docs/user_guide/features.md
  docs/user_guide/handbook.md
  docs/user_guide/install.md
  docs/user_guide/integration.md
  docs/user_guide/user_guide.md
Owners: @dmitrii-galantsev, @bill-shuzhou-liu, @ROCm/rocm-documentation
