Repository ROCm/rdc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dmitrii-galantsev, @bill-shuzhou-liu, @ROCm/rocm-documentation

.github/CODEOWNERS:

* @dmitrii-galantsev @bill-shuzhou-liu

docs/* @ROCm/rocm-documentation
*.md @ROCm/rocm-documentation
*.rst @ROCm/rocm-documentation

Add XGMI read/write sum metrics
  common/rdc_field.data
  include/rdc/rdc.h
  python_binding/rdc_bootstrap.py
  rdc_libs/rdc/src/RdcMetricFetcherImpl.cc
  rdc_libs/rdc/src/RdcSmiLib.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update the document to install the rdc service
  docs/install/install.rst
Owners: @ROCm/rocm-documentation

Update the document to install the rdc service
  docs/install/install.rst
Owners: @ROCm/rocm-documentation

Update the document to install the rdc service
  docs/install/install.rst
Owners: @ROCm/rocm-documentation

Update the document to install the rdc service
  docs/install/install.rst
Owners: @ROCm/rocm-documentation

Update the document to install the rdc service
  docs/install/install.rst
Owners: @ROCm/rocm-documentation

Update the document to install the rdc service
  docs/install/install.rst
Owners: @ROCm/rocm-documentation

Profiler - Modify metrics
  README.md
  common/rdc_field.data
  include/rdc/rdc.h
  rdc_libs/rdc_modules/rdc_rocp/RdcRocpBase.cc
Owners: @ROCm/rocm-documentation, @dmitrii-galantsev, @bill-shuzhou-liu

Profiler - Modify metrics
  README.md
  common/rdc_field.data
  include/rdc/rdc.h
  rdc_libs/rdc_modules/rdc_rocp/RdcRocpBase.cc
Owners: @ROCm/rocm-documentation, @dmitrii-galantsev, @bill-shuzhou-liu

SWDEV-475255 - MM Engine Decoding Throughput
  common/rdc_field.data
  include/rdc/rdc.h
  python_binding/RdcReader.py
  python_binding/rdc_bootstrap.py
  rdc_libs/rdc/src/RdcMetricFetcherImpl.cc
  rdc_libs/rdc/src/RdcSmiLib.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

SWDEV-475255 - MM Engine Decoding Throughput
  common/rdc_field.data
  include/rdc/rdc.h
  python_binding/RdcReader.py
  python_binding/rdc_bootstrap.py
  rdc_libs/rdc/src/RdcMetricFetcherImpl.cc
  rdc_libs/rdc/src/RdcSmiLib.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

SWDEV-475244 - Memory Usage and Bandwidth: memory activity
  common/rdc_field.data
  include/rdc/rdc.h
  python_binding/RdcReader.py
  python_binding/rdc_bootstrap.py
  rdc_libs/rdc/src/RdcMetricFetcherImpl.cc
  rdc_libs/rdc/src/RdcSmiLib.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

SWDEV-475244 - Memory Usage and Bandwidth: memory activity
  common/rdc_field.data
  include/rdc/rdc.h
  python_binding/RdcReader.py
  python_binding/rdc_bootstrap.py
  rdc_libs/rdc/src/RdcMetricFetcherImpl.cc
  rdc_libs/rdc/src/RdcSmiLib.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Enable RDC policy feature
  common/rdc_field.data
  example/CMakeLists.txt
  example/policy_example.cc
  include/rdc/rdc.h
  include/rdc_lib/RdcHandler.h
  include/rdc_lib/RdcPolicy.h
  include/rdc_lib/impl/RdcEmbeddedHandler.h
  include/rdc_lib/impl/RdcPolicyImpl.h
  include/rdc_lib/impl/RdcStandaloneHandler.h
  protos/rdc.proto
  rdc_libs/bootstrap/src/RdcBootStrap.cc
  rdc_libs/rdc/CMakeLists.txt
  rdc_libs/rdc/src/RdcEmbeddedHandler.cc
  rdc_libs/rdc/src/RdcMetricFetcherImpl.cc
  rdc_libs/rdc/src/RdcPolicyImpl.cc
  rdc_libs/rdc_client/src/RdcStandaloneHandler.cc
  server/include/rdc/rdc_api_service.h
  server/src/rdc_api_service.cc
  server/src/rdc_server_main.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

CMAKE - Fix RVS include
  CMakeLists.txt
  cmake_modules/Findrocprofiler.cmake
  cmake_modules/Findrvs.cmake
  rdc_libs/rdc/src/RdcModuleMgrImpl.cc
  rdc_libs/rdc_modules/rdc_rocp/CMakeLists.txt
  rdc_libs/rdc_modules/rdc_rvs/CMakeLists.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

RVS - Report test progress in realtime
  include/rdc_modules/rdc_rvs/RvsBase.h
  rdc_libs/rdc_client/src/RdcStandaloneHandler.cc
  rdc_libs/rdc_modules/rdc_rvs/RdcDiagnosticLib.cc
  rdc_libs/rdc_modules/rdc_rvs/RvsBase.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

AMDSMI - Fix kRasErrStateStrings in tests
  tests/rdc_tests/test_common.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Finish basic logging impl
  example/diagnostic_example.cc
  include/rdc/rdc.h
  include/rdc_lib/RdcDiagnostic.h
  include/rdc_lib/RdcDiagnosticLibInterface.h
  include/rdc_lib/RdcHandler.h
  include/rdc_lib/impl/RdcDiagnosticModule.h
  include/rdc_lib/impl/RdcEmbeddedHandler.h
  include/rdc_lib/impl/RdcRVSLib.h
  include/rdc_lib/impl/RdcRocrLib.h
  include/rdc_lib/impl/RdcSmiLib.h
  include/rdc_lib/impl/RdcStandaloneHandler.h
  protos/rdc.proto
  rdc_libs/bootstrap/src/RdcBootStrap.cc
  rdc_libs/rdc/src/RdcDiagnosticModule.cc
  rdc_libs/rdc/src/RdcEmbeddedHandler.cc
  rdc_libs/rdc/src/RdcRVSLib.cc
  rdc_libs/rdc/src/RdcRocrLib.cc
  rdc_libs/rdc/src/RdcSmiLib.cc
  rdc_libs/rdc_client/src/RdcStandaloneHandler.cc
  rdc_libs/rdc_modules/rdc_rocr/RdcDiagnosticLib.cc
  rdc_libs/rdc_modules/rdc_rvs/RdcDiagnosticLib.cc
  rdci/src/RdciDiagSubSystem.cc
  server/include/rdc/rdc_api_service.h
  server/src/rdc_api_service.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

CMAKE - Find modules at build time
  rdc_libs/rdc_modules/rdc_rocp/CMakeLists.txt
  rdc_libs/rdc_modules/rdc_rocr/CMakeLists.txt
  rdc_libs/rdc_modules/rdc_rvs/CMakeLists.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

RVS - Fix cookie_t -> rdc_diag_callback_t types issue
  include/rdc_modules/rdc_rvs/RvsBase.h
  rdc_libs/rdc_modules/rdc_rvs/RdcDiagnosticLib.cc
  rdc_libs/rdc_modules/rdc_rvs/RvsBase.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Enable RDCI policy subsystem
  include/rdc/rdc.h
  rdci/CMakeLists.txt
  rdci/include/RdciPolicySubSystem.h
  rdci/src/RdciPolicySubSystem.cc
  rdci/src/rdci.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Correct RDC_FI_PCIE_BANDWIDTH unit
  common/rdc_field.data
  include/rdc/rdc.h
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update changelog for 6.3
  CHANGELOG.md
Owners: @ROCm/rocm-documentation

Backgroud health check
  common/rdc_field.data
  example/CMakeLists.txt
  example/health_example.cc
  include/rdc/rdc.h
  include/rdc_lib/RdcCacheManager.h
  include/rdc_lib/RdcHandler.h
  include/rdc_lib/RdcWatchTable.h
  include/rdc_lib/impl/RdcCacheManagerImpl.h
  include/rdc_lib/impl/RdcEmbeddedHandler.h
  include/rdc_lib/impl/RdcStandaloneHandler.h
  include/rdc_lib/impl/RdcWatchTableImpl.h
  protos/rdc.proto
  python_binding/rdc_bootstrap.py
  rdc_libs/bootstrap/src/RdcBootStrap.cc
  rdc_libs/rdc/src/RdcCacheManagerImpl.cc
  rdc_libs/rdc/src/RdcEmbeddedHandler.cc
  rdc_libs/rdc/src/RdcMetricFetcherImpl.cc
  rdc_libs/rdc/src/RdcSmiLib.cc
  rdc_libs/rdc/src/RdcWatchTableImpl.cc
  rdc_libs/rdc_client/src/RdcStandaloneHandler.cc
  rdci/CMakeLists.txt
  rdci/include/RdciHealthSubSystem.h
  rdci/src/RdciHealthSubSystem.cc
  rdci/src/rdci.cc
  server/include/rdc/rdc_api_service.h
  server/src/rdc_api_service.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update documentation requirements
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

rocprofiler: add valu utilization
  common/rdc_field.data
  include/rdc/rdc.h
  python_binding/rdc_bootstrap.py
  rdc_libs/rdc_modules/rdc_rocp/RdcRocpBase.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update documentation requirements
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

CI - Add initial config
  .github/workflows/main.yml
  .gitignore
  run_github_actions_locally.sh
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

CI - Use vars instead of secrets
  .github/workflows/main.yml
  run_github_actions_locally.sh
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

SWDEV-500830 add building and running examples
  .github/workflows/main.yml
  example/rocprofiler_example.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

SWDEV-500830 add building and running examples
  .github/workflows/main.yml
  example/diagnostic_example.cc
  example/rocprofiler_example.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Make ROCM_DIR default ROCm path for rocprof
  rdc_libs/rdc/CMakeLists.txt
  rdc_libs/rdc/src/RdcRocpLib.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

SWDEV-500830 add building and running examples
  .github/workflows/main.yml
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

SWDEV-502603 - Use RPM_INSTALL_PREFIX variable rather than hard coded install prefix paths in RPM post/prerm scripts
  src/RPM_postun.in
  src/RPM_preun.in
  src/RPM_rpm_post.in
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Profiler - Fix fp64 metric
  rdc_libs/rdc_modules/rdc_rocp/RdcRocpBase.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Profiler - Remove averaging
  include/rdc_modules/rdc_rocp/RdcRocpBase.h
  rdc_libs/rdc_modules/rdc_rocp/RdcRocpBase.cc
  rdc_libs/rdc_modules/rdc_rocp/RdcTelemetryLib.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

SWDEV-475244 - Memory Usage and Bandwidth: max mem and current mem
  common/rdc_field.data
  include/rdc/rdc.h
  python_binding/RdcReader.py
  python_binding/rdc_bootstrap.py
  rdc_libs/rdc/src/RdcMetricFetcherImpl.cc
  rdc_libs/rdc/src/RdcSmiLib.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Enable RDC topology feature
  example/topologylink_example.cc
  include/rdc/rdc.h
  include/rdc_lib/RdcHandler.h
  include/rdc_lib/RdcTopologyLink.h
  include/rdc_lib/impl/RdcEmbeddedHandler.h
  include/rdc_lib/impl/RdcStandaloneHandler.h
  include/rdc_lib/impl/RdcTopologyLinkImpl.h
  protos/rdc.proto
  rdc_libs/bootstrap/src/RdcBootStrap.cc
  rdc_libs/rdc/CMakeLists.txt
  rdc_libs/rdc/src/RdcEmbeddedHandler.cc
  rdc_libs/rdc/src/RdcTopologyLinkImpl.cc
  rdc_libs/rdc_client/src/RdcStandaloneHandler.cc
  rdci/CMakeLists.txt
  rdci/include/RdciTopologyLinkSubSystem.h
  rdci/src/RdciTopologyLinkSubSystem.cc
  rdci/src/rdci.cc
  server/include/rdc/rdc_api_service.h
  server/src/rdc_api_service.cc
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Create rocm_ci_caller.yml enabling PSDB and OSDB for amd-mainline changes
  .github/workflows/rocm_ci_caller.yml
Owners: @dmitrii-galantsev, @bill-shuzhou-liu
