Repository ROCm/rdc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dmitrii-galantsev, @bill-shuzhou-liu, @ROCm/rocm-documentation

.github/CODEOWNERS:

* @dmitrii-galantsev @bill-shuzhou-liu

docs/* @ROCm/rocm-documentation
*.md @ROCm/rocm-documentation
*.rst @ROCm/rocm-documentation

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update documentation requirements
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

SWDEV-468423 - Install authentication scripts
  CMakeLists.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

SWDEV-468423 - Install authentication scripts
  CMakeLists.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update Read the Docs configuration to Python 3.10 and latest rocm-docs-core
  .readthedocs.yaml
  docs/sphinx/requirements.in
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update Read the Docs configuration to Python 3.10 and latest rocm-docs-core (#26)
  .readthedocs.yaml
  docs/sphinx/requirements.in
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update CHANGELOG.md and README.md for ROCm 6.2
  .gitignore
  CHANGELOG.md
  CMakeLists.txt
  README.md
  authentication/readme.txt
  cmake_modules/rdc-backward-compat.cmake
Owners: @dmitrii-galantsev, @bill-shuzhou-liu, @ROCm/rocm-documentation

Update CHANGELOG.md and README.md for ROCm 6.2
  .gitignore
  CHANGELOG.md
  CMakeLists.txt
  README.md
  authentication/readme.txt
  cmake_modules/rdc-backward-compat.cmake
Owners: @dmitrii-galantsev, @bill-shuzhou-liu, @ROCm/rocm-documentation

Fix build with BUILD_STANDALONE=OFF
  rdc_libs/CMakeLists.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Fix build with BUILD_STANDALONE=OFF
  rdc_libs/CMakeLists.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Azure - Switch to amd-staging branch
  .azuredevops/rocm-ci.yml
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Azure - Switch to amd-staging branch
  .azuredevops/rocm-ci.yml
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

SWDEV-396819 Update File Permissions for other binary files
  CMakeLists.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

SWDEV-396819 Update File Permissions for other binary files
  CMakeLists.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update doc reqs
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

INSTALL - Add rdci binary
  CMakeLists.txt
  src/DEBIAN_postinst.in
  src/DEBIAN_prerm.in
  src/RPM_postun.in
  src/RPM_rpm_post.in
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

INSTALL - Always add video group to rdc user
  src/DEBIAN_postinst.in
  src/RPM_rpm_post.in
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

INSTALL - Always add video group to rdc user
  src/DEBIAN_postinst.in
  src/RPM_rpm_post.in
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

INSTALL - Add rdci binary
  CMakeLists.txt
  src/DEBIAN_postinst.in
  src/DEBIAN_prerm.in
  src/RPM_postun.in
  src/RPM_rpm_post.in
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

INSTALL - Fix rdc groups and lock file check
  src/DEBIAN_postinst.in
  src/RPM_rpm_post.in
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

INSTALL - Fix rdc groups and lock file check
  src/DEBIAN_postinst.in
  src/RPM_rpm_post.in
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update the document to install the rdc service
  docs/install/install.rst
Owners: @ROCm/rocm-documentation

Update the document to install the rdc service
  docs/install/install.rst
Owners: @ROCm/rocm-documentation

Update python_interface and remove --enable_pci_id
  python_binding/RdcReader.py
  python_binding/rdc_bootstrap.py
  python_binding/rdc_prometheus.py
Owners: @dmitrii-galantsev, @bill-shuzhou-liu

Update python_interface and remove --enable_pci_id
  python_binding/RdcReader.py
  python_binding/rdc_bootstrap.py
  python_binding/rdc_prometheus.py
Owners: @dmitrii-galantsev, @bill-shuzhou-liu
